*{
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: "inter"sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

header{
    margin-top: 20px;
    margin-left: 30px;
}

main{
    display: flex;
    
}

.input-text{
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 100px;
    border: none;  
}

.instruccion{
    margin-top: 170px;
    margin-left: 30px;
    font-size: 20px;
}
.estiloBotones{
    display: inline-block;
    position: absolute;
    margin-left: 30px;
}

.botonA{
    display: inline-block;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #0A3871;
    border-radius: 24px;
    color: white;

}

.botonB{
    display: inline-block;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #D8DFE8;
    border-radius: 24px;
}



.output-text-area{
    position: static;
    width: 400px;
    height: 575px;
    left: 1000px;
    top: 40px;
    background: #ffffff;
    border-radius: 24px;
    
        
}


.output-text-area::placeholder{
    text-align: center ;
    background-image: url(./imagenes/Muñeco.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    }

.botonC{
    bottom: 50px 60px;
    display: inline-block;
    position: relative;
    width: 328px;
    height: 67px;
    left: 40px;
    top: 0px;
    background: #D8DFE8;
    border-radius: 24px;
    
}

.piePagina{
    font-size: 20px;
    text-align: end;
}

